<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
</head>
<Body>
<h1>帳號登入</h1>

<div>
    <label for="name">userName</label><br>
    <input type="text" id ="name" ><br>
    <label for="pw">userName</label><br>
    <input type="text" id ="pw" ><br>
    <p></p>
    <button>登入</button>

    <table>
        <thead>
        <tr>
            <th>列标题1</th>
            <th>列标题2</th>
            <th>列标题3</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>行1，列1</td>
            <td>行1，列2</td>
            <td>行1，列3</td>
        </tr>
        <tr>
            <td>行2，列1</td>
            <td>行2，列2</td>
            <td>行2，列3</td>
        </tr>
        </tbody>
    </table>
</div>
</Body>
</html>